<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Create Token</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <form action="/enter" method="post">
            <div class="form-group">
              <input type="email" name="username"  class="form-control" placeholder="Username" required>
            </div>
            <button class="btn btn-lg btn-dark" type="submit" name="name" value="generate">Generate Token</button>
            <button class="btn btn-lg btn-dark" type="submit" name="name" value="liveStatus">Check Current Status</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>


<%- include('partials/footer') %>
