<%- include('partials/header') %>


  <div class="card center" style="width: 18rem;">
    <div class="card-body">
      <h1>Your Token</h1>
      <h3><%- token %></h3>
      <h1>Your OTP</h1>
      <h3><%- otp %></h3>
    </div>
    <div class="card-footer">
      <p>Please take a snapshot of your token</p>
    </div>
  </div>
<%- include('partials/header') %>
